/*CSS Table Of Content Ends Here*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
  --body: #fff;
  --primary: #f58220;
  --text: #777777;
  --heading: #000000;
  --light: #e4e4e4;
  --black: #000;
  --borders: rgba(255, 255, 255, 0.1);
  --white: #fff;
  --theme: #242424;
  --bg1: #161616;
  --bg2: #1b1b1b;
  --bg3: #fff;
  --bg4: #f5f5f5;
}

/* -----------------------
    Template Default Fonts
 ------------------------- */
.body-font {
  font-family: 'DM Sans', sans-serif;
}
/* -----------------------
    Template Default CSS
 ------------------------- */
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: var(--white);
  background-color: var(--bg3);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus {
  color: var(--white);
  outline: none;
}

input {
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  padding: 0;
  color: var(--heading);
  transition: all 0.4s ease-in-out;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 112%;
}

h2 {
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

h5 {
  font-size: 26px;
  font-weight: 700;
}

h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 145%;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

p {
  margin: 0px;
  transition: all 0.4s ease-in-out;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  color: var(--white);
}
/* Grid Layout */
.blogcards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 20px;
  padding: 30px 0px 0px 10px;
}

.blogcards .card .image {
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.blogcards .card .image img {
  height: 200px;
  width: 100%;
  transition: 0.3s all ease-in-out;
}
.blogcards .card .image img:hover {
  transform: scale(1.9);
}

.blogcards .card .heading h2 {
  font-size: 20px;
  padding: 10px 0px;
}

.blogcards .card .cardParagraph {
  font-size: 15.5px;
  color: var(--border1);
  font-weight: 400;
  padding-bottom: 10px;
}

/* MEDIAQUERY FOR RESPONSIVENESS */

@media only screen and (max-width: 1024px) {
  .blogcards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .blogcards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .blogcards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding: 10px;
  }
}
/* Grid Layout end */
/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Flex Utility */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------
    Template Default CSS
 ------------------------- */

/* Header */
header {
  color: var(--white);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: var(--bg4);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--bg3);
  color: var(--bg1);
}

.topnav .icon {
  display: none;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url('../images/Background.webp') no-repeat;
  background-size: cover;
  background-position: center;
}
.banner h2 {
  text-align: left;
  color: var(--white);
  padding-top: 200px;
  letter-spacing: 4px;
  font-size: 90px;
  font-weight: 800;
  font-family: 'DM Sans', sans-serif;
}
.banner h2 .banner-t {
  font-size: 60px;
}
.banner p {
  text-align: left;
  color: var(--white);
  font-size: 0.8rem;
  padding: 5px 0px;
  font-family: 'DM Sans', sans-serif;
}
.banner .banner-p {
  font-size: 1.5rem;
}

/* Convenience Section */
#Convenience {
  background-color: var(--theme);
  width: 100vw;
  height: 600px;
}
#Convenience h3 {
  font-size: 38px;
  color: var(--bg3);
  padding-top: 50px;
}
#Convenience p {
  font-size: 20px;
  padding-top: 20px;
}
.card-1 {
  margin-top: 60px;
}
.card-2 {
  margin-top: 30px;
}
/* Hero Section */
#hero .owl-carousel .single-banner-slide {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.single-banner-slide::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.single-banner-slide h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding-top: 200px;
}
.single-banner-slide h2 sup {
  font-size: 40px;
}
.single-banner-slide p {
  color: #fff;
  font-size: 15px;
  max-width: 50%;
  padding-top: 200px;
  margin-bottom: 20px;
}
.single-banner-slide div a {
  color: var(--body);
  background: transparent;
  border: 2px solid var(--white);
  padding: 10px 45px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}
.single-banner-slide a:hover {
  color: #fff;
  background: var(--primary);
  border: none;
}

/* Services Section */
#services {
  background-color: var(--theme);
  width: 100vw;
  height: 600px;
  margin-top: -30px;
}
#services h3 {
  font-size: 38px;
  color: var(--bg3);
  padding-top: 50px;
}
#services p {
  font-size: 20px;
  padding-top: 20px;
}
/* Styles for the accordion */
.accordion {
  background: rgba(236, 239, 241, 1);
  overflow: hidden;
  display: flex;
  padding: 50px 0px;
}

.accordion-header {
  padding: 16px;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fa-plus-circle {
  font-size: 25px;
  margin-left: 200px;
}
.accordion-content {
  display: none;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  width: 70%;
}
.accordion-content .card .image img {
  height: 300px;
  width: 500px;
}
.accordion-item.active .accordion-content {
  display: block;
}
/* Slider Section */
#slider {
  background-color: var(--theme);
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text-area {
  padding-top: 50px;
  padding-bottom: 30px;
}
#slider h3 {
  font-size: 38px;
  text-align: center;
}
#slider p {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
/* Slider content  */
.splide {
  padding: 20px 0;
}
.splide__list {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
/* Generic Slide */
.splide__slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 400ms;
  transform: scale(0.9);
  transform-origin: center center;
}

/* Active Slide */
.splide__slide.is-active img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* Upper Footer */
.upper-footer {
  width: 100%;
  height: 100vh;
  background: url('../images/Upper-footer.webp') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.upper-footer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 66, 122, 0.16);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.upper-footer h3 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.3rem;
}
/* Footer */
footer {
  background: var(--theme);
  color: var(--white);
  padding: 100px 0px 50px;
}
footer div h3 {
  color: var(--bg3);
  padding-bottom: 50px;
}
footer div p {
  padding-bottom: 10px;
}
footer .copyright {
  padding-top: 100px;
}
#family-site {
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: transparent;
  color: var(--bg3);
  outline: 1 solid #fff;
  margin-left: 10px;
}
#button {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  outline: 1 solid #fff;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 20px;
}
/* Use a media query to add a breakpoint at 600px: */
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo a img {
    height: 16px !important;
  }

  .hidden {
    display: none;
  }
  /*Banner Section*/
  .banner h2 {
    text-align: left;
    color: var(--white);
    padding-top: 250px;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'DM Sans', sans-serif;
  }
  .banner h2 .banner-t {
    font-size: 30px;
  }
  .banner p {
    text-align: left;
    color: var(--white);
    font-size: 0.6rem;
    font-family: 'DM Sans', sans-serif;
  }
  .banner .banner-p {
    font-size: 1rem;
  }
  /* Convenience Section */
  #Convenience {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
  }
  #Convenience h3 {
    font-size: 25px;
    color: var(--bg3);
    padding-top: 30px;
  }
  #Convenience p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  /* Hero Section with Slider  */
  .single-banner-slide h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px !important;
    line-height: 30px;
    font-weight: 700;
    padding-top: 20px !important;
  }
  .single-banner-slide h2 sup {
    font-size: 20px;
  }
  .single-banner-slide p {
    color: #fff;
    font-size: 12px !important;
    max-width: 100% !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
  }
  .single-banner-slide div a {
    color: var(--body);
    background: transparent;
    border: 2px solid var(--white);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
  }
  /* Services Section */
  #services {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
  }
  #services h3 {
    font-size: 25px;
    color: var(--bg3);
    padding-top: 30px;
  }
  #services p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  /* accordion content */
  .accordion {
    background: rgba(236, 239, 241, 1);
    overflow: hidden;
    display: block;
    padding: 30px 0px !important;
  }
  .accordion-header {
    padding: 10px !important;
    font-size: 20px !important;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fa-plus-circle {
    font-size: 20px !important;
    margin-left: 60px !important;
  }
  .accordion-content {
    display: none;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    width: 100%;
  }
  .accordion-content .card .image img {
    height: auto;
    width: 100% !important;
  }
  /* slider section */
  .splide__list {
    display: block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .slider-left {
    display: none;
  }
  /* Upper footer */
  .upper-footer h3 {
    text-transform: uppercase;
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.3rem;
  }
  /* Footer */
  footer {
    background: var(--theme);
    color: var(--white);
    padding: 50px 0px 50px;
  }
  #footer-flex {
    flex-wrap: wrap;
  }
  footer div h3 {
    color: var(--bg3);
    padding-bottom: 30px;
    font-size: 22px;
  }
  footer div p {
    padding-bottom: 10px;
  }
  footer .copyright {
    padding-top: 100px;
    padding-bottom: 15px;
  }
}
/* Use a media query Responsive menu bar to add a breakpoint at 600px: */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    /* align-items: center; */
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
  .logo a img {
    height: 20px !important;
  }
  .topnav a:not(:last-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .hidden {
    display: none;
  }
  .topnav .responsive .icon {
    align-items: center;
  }
  .single-banner-slide h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px !important;
    line-height: 30px;
    font-weight: 700;
    padding-top: 100px;
  }
  .single-banner-slide h2 sup {
    font-size: 20px;
  }
  .single-banner-slide p {
    color: #fff;
    font-size: 18px !important;
    max-width: 100% !important;
    padding-top: 60px;
  }
  #Convenience {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
    padding-bottom: 80px;
  }
  #services {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
    padding-bottom: 80px;
  }
  /* Slider section */
  .slider-left {
    display: none;
  }
  /* accordion content */
  .accordion {
    background: rgba(236, 239, 241, 1);
    overflow: hidden;
    display: block !important;
    padding: 30px 0px;
  }
  .accordion-header {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fa-plus-circle {
    font-size: 20px !important;
    margin-left: 200px !important;
  }
  .accordion-content {
    display: none;
    font-size: 14px !important;
    line-height: 1.6;
    color: #000;
    width: 100%;
  }
  .accordion-content .card .image img {
    height: auto !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 1024px) {
  #Convenience {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
    padding-bottom: 80px;
  }
  #services {
    background-color: var(--theme);
    width: 100vw;
    height: auto;
    padding-bottom: 80px;
  }
  .single-banner-slide h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    padding-top: 100px;
  }
  .single-banner-slide h2 sup {
    font-size: 20px;
  }
  .single-banner-slide p {
    color: #fff;
    font-size: 18px;
    max-width: 50%;
    padding-top: 60px;
  }
  /* accordion content */
  .accordion {
    background: rgba(236, 239, 241, 1);
    overflow: hidden;
    display: block;
    padding: 30px 0px;
  }
  .accordion-header {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fa-plus-circle {
    font-size: 20px;
    margin-left: 400px;
  }
  .accordion-content {
    display: none;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    width: 100%;
  }
  .accordion-content .card .image img {
    height: auto;
    width: 100%;
  }
}
